root = true

[*]
# Non-configurable Prettier behaviors
charset = utf-8

# Caveat: Prettier won’t trim trailing whitespace inside template strings, but your editor might.
trim_trailing_whitespace = true

end_of_line = lf
indent_style = space

[*.{ts,yml,yaml}]
# Ensure values are aligned with .prettierrc.yml and .yaml-lint.yml
max_line_length = 100
indent_size = 2
insert_final_newline = true

[*.md]
# Ensure values are aligned with .markdown-lint.yml
max_line_length = 120
trim_trailing_whitespace = false